<%= form_for @report, html: { multipart: true } do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
  <%= f.label :birthday %><br />
  <%= f.date_select :birthday, :include_blank => true, :start_year => Time.now.year - 30 %>
</div>

  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
