<p id="notice"><%= notice %></p>

<%= image_tag @report.image.url(:medium) %>

<div>
  <p>
    <strong>Full Name:</strong>
    <%= @report.first_name + " " + @report.last_name %>
  </p>
</div>

<div>
  <p><strong>Date of Birth:</strong>
  <%= @report.birthday.strftime("%d/%b/%Y") %>
  </p>
</div>

<div>
  <p><strong>Address:</strong>
    <%= @report.line1 %>
    <%= @report.line2 %>
  <strong>Province:</strong>
    <%= @report.province %>
  </p>
</div>

<div>
  <p>
    <strong>Primary phone number:</strong>
      <%= @report.phone1 %>
    <strong>Contact person:</strong>
      <%= @report.relation1 %>
  </p>

  <p>
  <strong>Secondary phone number:</strong>
    <%= @report.phone2 %>
  <strong>Contact person:</strong>
    <%= @report.relation2 %>
  </p>
</div>

<div class="field">
  <p>
  <strong>School information:</strong>
    <%= @report.schoolname %>
  <strong>Class:</strong>
    <%= @report.schoolclass %>
  </p>
</div>

<div id='report-chart'>
  <%= column_chart @data, min: 0, max: 100, colors: ["pink"] %>
</div>

<div>
  <p>
    <strong>Summary:</strong>
    <%= @report.summary %>
  </p>
</div>

<div>
  <p>
    <small> Submitted <%= time_ago_in_words(@report.updated_at) %> ago by <%= @report.user.email %> </small>
  </p>
</div>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
