<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>One Page Wonder - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<p id="notice"><%= notice %></p>

<body>

<div class="container">
  <div class="featurette">
    <img class="featurette-image img-circle img-responsive pull-left" <%= image_tag @report.image.url(:medium) %>
      <h2 class="featurette-heading"><%= @report.first_name + " " + @report.last_name %></h2>

      <div class="featurette-lead" class="col-md-8">
        <p><strong>Date of Birth:</strong>
          <%= @report.birthday.strftime("%d/%b/%Y") %>
        </p>

        <p><strong>Address:</strong>
          <%= @report.line1 %>
          <%= @report.line2 %>
        <strong>Province:</strong>
          <%= @report.province %>
        </p>

        <p>
          <strong>Primary phone number:</strong>
            <%= @report.phone1 %><br>
          <strong>Contact person:</strong>
            <%= @report.relation1 %>
        </p>

        <p>
          <strong>Secondary phone number:</strong>
            <%= @report.phone2 %><br>
          <strong>Contact person:</strong>
            <%= @report.relation2 %>
        </p>

        <p>
          <strong>School information:</strong>
            <%= @report.schoolname %>
          <strong>Class:</strong>
            <%= @report.schoolclass %>
        </p>

        <p>
        <small> Submitted <%= time_ago_in_words(@report.updated_at) %> ago by <%= @report.user.email %> </small>
        </p>

        <div class= "row">
          <div class="col-md-12" class="chart">
            <strong>Grades by subject:</strong>
            <%= column_chart @data, min: 0, max: 100, colors: ["pink"] %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" class="summary">
            <p>
              <strong>Summary:</strong><br>
              <%= @report.summary %>
            </p>
          </div>
        </div>


        <div>
          <%= link_to 'Edit', edit_report_path(@report) %> |
          <%= link_to 'Back', reports_path %>
        </div>

      </div>
    </div>
  </div>
</body>
</html>
